body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-image: url('/Dashboard/img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

header {
    background-color: #007cb6;
    padding: 10px;
}

.btn-abrir {
    color: white;
    font-size: 22px;
}

nav {
    height: 100%;
    width: 0px;
    background-color: #007cb6;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    transition: width 0.3s;
}

nav a {
    color: white;
    font-size: 20px;
    display: block;
    padding: 12px 10px 12px 32px;
}

nav a:hover {
    color: #007cb6;
    background-color: white;
}

.grafico1{
width: 600px;
height: 400px;
margin-right: 3px;
}

.grafico2{
    width: 600px;
    height: 400px;
    margin-right: 3px;
}

.grafico3{
    width: 600px;
    height: 400px;
    margin-right: 3px;
}

.grafico4{
    width: 600px;
    height: 400px;
    margin-top: 0.2%;
    margin-right: 3px;
}



main {
    padding: 10px;
    transition: margin-left 0.5s;
}
