* {
    box-sizing: border-box;
}

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    background-image: url(img/bg.jpg);
}

h1 {
    font-size: 34px;
}

.conteudo {
    width: 100%;
    text-align: center;
    justify-content: center;
}

.conteudo img {
    display: inline-block;
    margin-left: 50px;
    width: 180px;
    height: 180px;
    margin-top: 50px;

}

.conteudo img:hover{
  padding: 7px;
}

.up {
    width: 51%;
    margin-left: auto;
    margin-right: auto;

}
