body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    margin-left: 20px;
}

#objeto {
    text-align: center;
    font-size: 125%;
    margin: auto;
}

.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}

.select-selected {
    background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */

.select-items div, .select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */

.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */

.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

fieldset {
    width: 300px;
    height: 430px;
    border-radius: 20px;
    border: none;
    margin: auto;
    color: white;
    background: rgb(2, 0, 36);
    background: linear-gradient(142deg, #020024 0%, rgba(63, 108, 166, 0.74) 50%, rgba(0, 212, 255, 1) 100%);
    box-shadow: 7px 7px 10px rgb(32, 31, 31);
}

input {
    padding: 8px;
    font: 15px Arial;
    width: 60%;
}

p {
    color:red;
}

#btn_enviar {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 25px;
    font-weight: 100;
    padding: 10px;
    border: solid #ffffff 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

#btn_enviar:hover {
    border: solid #FFFFFF 1px;
    background: #020024;
    background-image: -webkit-linear-gradient(top, #142DFF, #030F70);
    background-image: -moz-linear-gradient(top, #142DFF, #030F70);
    background-image: -ms-linear-gradient(top, #142DFF, #030F70);
    background-image: -o-linear-gradient(top, #142DFF, #030F70);
    background-image: -webkit-gradient(to bottom, #142DFF, #030F70);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-decoration: none;
}

footer {
    position: absolute;
    margin-left: 831px;
    bottom: 0;
}